<tr class='debit_row'>
  <% category = local_assigns[:category] %>
  <% amount = local_assigns[:amount]  %>
  <td><%= text_field_tag 'category[]', category, class: 'category' %></td>
  <td><%= number_field_tag 'amount[]', amount, class: 'amount' %></td>
  <td><%= link_to_function(image_tag('plus.png'), 'window.split.add()') %> </td>
  <td><%= link_to_function(image_tag('delete.png'), 'window.split.delete($(this))') %> </td>
</tr>
