<div class="row">
  <div class="span4">
    <table id=categories class="table table-striped">
      <% @categories.each do |category| %>
        <tr>
          <td class='category'><%= category[:category] %></td>
          <td class='budget'><%= category[:budget] %></td>
          <td class='spent'><%= category[:spent] %><td>
          <td class='remainder'><%= category[:remainder] %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
